05.figure_5_and_S9_to_S17/Figure_S15/distinctive_family_bs_pm/*
05.figure_5_and_S9_to_S17/Figure_S15/distinctive_netcls_bs_pm/*
05.figure_5_and_S9_to_S17/Figure_S16/family_bs_pm/*/*
05.figure_5_and_S9_to_S17/Figure_S16/netcls_bs_pm/*/*
05.figure_5_and_S9_to_S17/Figure_S16/netcls_bs_pm/CAS_vs_At_root/arabidopsis_thaliana_root_vs_CAS_pm1.rds
05.figure_5_and_S9_to_S17/Figure_S16/netcls_bs_pm/CAS_vs_At_root/arabidopsis_thaliana_root_vs_CAS_pm2.rds
05.figure_5_and_S9_to_S17/Figure_S16/netcls_bs_pm/CAS_vs_Lj_root/CAS_vs_lotus_japonicus_root_pm1.rds
05.figure_5_and_S9_to_S17/Figure_S16/netcls_bs_pm/CAS_vs_Lj_root/CAS_vs_lotus_japonicus_root_pm2.rds
05.figure_5_and_S9_to_S17/Figure_S16/family_bs_pm/CAS_vs_At_root/arabidopsis_thaliana_root_vs_CAS_pm1.rds
05.figure_5_and_S9_to_S17/Figure_S16/family_bs_pm/CAS_vs_At_root/arabidopsis_thaliana_root_vs_CAS_pm2.rds
05.figure_5_and_S9_to_S17/Figure_S16/family_bs_pm/CAS_vs_Lj_root/CAS_vs_lotus_japonicus_root_pm1.rds
05.figure_5_and_S9_to_S17/Figure_S16/family_bs_pm/CAS_vs_Lj_root/CAS_vs_lotus_japonicus_root_pm2.rds
